export(month_days)
export(end_of_month)
export(end_next_month)
export(day)
export(end_previous_month)
export(end_of_quarter)
export(first_previous_quarter)
export(end_previous_quarter)
export(stack_obs)
useDynLib(dateutils)
